# Rails defaults
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/

# Vim backups
*.swp
*.swo

# Emacs backups
*~
.#*

# Sensitive config stuff.
config/database.yml
config/initializers/omniauth.rb

# Assets
public/assets/*
