/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

pre {
  background-color: #F3F3F3;
  border: solid 1px #CCC;
  padding: 5px 10px;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  font-size: 0.9em;
}

#notice {
    background-color: #D6D6FF;
    padding: 5px;
    border: 1px solid #7373CC;
}

#error {
    background-color: #FFD6D6;
    padding: 5px;
    border: 1px solid #FF7373;
}

#success {
    background-color: #D6FFD6;
    padding: 5px;
    border: 1px solid #73CC73;
}
