/* Global to everything, used throughout. */
html, body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    background-color: #F2F2F2;
    text-align: center;
}
.fl { float: left; }
.fr { float: right; }
.constrain {
    width: 970px !important;
    margin: 0 auto;
}

.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf { zoom: 1; }

/* Header */
#header {
    background-color: #024769;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    padding-bottom: 2px;
}

#header .clubcall {
    font-weight: bold;
    color: #95CBE9;
}
#header .clubname {
    font-size: 1.2em;
    color: #AAAAAA;
}
#header #search input  {
    width: 315px;
    border: solid 1px #85b1de;
    border-radius: 5px;
}
#header a {
    text-decoration: none;
}


/* Linkbar; which will eventually be dynamic */
#linkbar {
    /* The...bar with the links. ;) */
    background-color: #AFD775;
    height: 35px;
}
#linkbarlist {
    padding: 0;
    margin: 0;
    float: left;
    line-height: 35px;
}
#linkbarlistright {
    padding: 0;
    margin: 0;
    float: right;
    line-height: 35px;
}
#linkbarlist li, #linkbarlistright li {
    float: left;
    list-style-type: none;
}
#linkbarlist li a, #linkbarlistright li a {
    display: block;
    text-decoration: none;
    color: #444444;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 0.8em;
}
#linkbarlist li a:hover, #linkbarlistright li a:hover {
    background-color: #BFE785;
}

#loginbar {
    background-color: #2C5700;
    height: 35px;
    line-height: 35px;
    text-align: left;
}

/* Site Body */
#content {
    margin: 10px auto;
    width: 970px;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    text-align: left;
/*
    padding-left: 10px;
    padding-right: 10px;
*/
}
#content #page p {
    margin-left: 30px;
}
#content #page {
    padding-left: 10px;
    padding-right: 10px;
}
#triportal {
    margin: 15px auto;
    padding: 5px;
    text-align: left;
}
#triportal .title {
    border-bottom: 1px solid #CCCCCC;
    font-size: 13px;
    font-weight: bold;
    width: 290px;
    text-align: left;
}
#triportal #leftportal {
    float: left;
    width: 290px;
    margin-right: 21px;
}
#triportal #middleportal {
    float: left;
    width: 290px;
    margin-right: 21px;
}
#triportal #rightportal {
    float: left;
    width: 290px;
}

/* Footer */
#footer {
    width: 970px;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
    color: #888888;
}
